<!-- tutorials/tutorials_list.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <!-- Page Heading -->
    <h1 class="mb-4">Tutorials</h1>

    <!-- Tutorials List -->
    <div class="list-group">
      {% for tutorial in tutorials %}
        <a href="{% url 'tutorial_detail' pk=tutorial.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ tutorial.title }}</h5>
          </div>
          <p class="mb-1">{{ tutorial.introduction }}</p>
        </a>
      {% endfor %}
      {% if tutorials|length == 0 %}
        <p class="list-group-item">No tutorials available.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
