<!-- portfolio/portfolio.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title">
            <h1>Portfolio</h1>
            <h2>Keenan du Plessis</h2>
        </div>

        <!-- Row for Splitting Content into Two Columns -->
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-8">
                    <!-- Personal Description -->
                    <p> I am a highly motivated full-stack developer who enjoys 
                        growing my knowledge on topics such as AI and Software
                        Engineering. I am currently upskilling in AWS, I am
                        eager to contribute my skills and dedication to the
                        field of technology.
                    </p>
                    <p>
                        I am committed to achieving my goals and expanding my
                        knowledge base. I enjoy spending time outdoors and 
                        engaging in physical activities, which allows me to
                        maintain a healthy work-life balance and stay focused on
                        my goals. 
                    </p>
                    <p>    
                        I also gained valuable experience as, a Coding Mentor by
                        spearheading the refactoring of django tasks within the
                        learning department. The successful completion of these
                        refactoring initiatives resulted in streamlined
                        processes, and enhanced code maintainability,
                        contributing to an improved learning experience for
                        students.
                    </p>

                    <!-- Current role -->
                    <h3>Current Role</h3>
                    
                    <h4>Coding Mentor - HyperionDev | E - Learning</h4>
                    <h5>April 2023-Current</h5>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Read more about my current role
                        </a>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <ul>
                                <li>Successfully delivered prompt and high-quality
                                mentoring support via one-on-one support calls,
                                resulting in measurable improvements in students'
                                coding skills and comprehension.
                                </li>
                                <li>Implemented a rigorous code review process,
                                resulting in consistently elevated code quality and
                                a quantifiable increase in student success rates.
                                </li>
                                <li>Conducted targeted one-on-one sessions, leading
                                to a significant reduction in the time students
                                spent grappling with challenging problems and a
                                measurable increase in overall student motivation.
                                </li>
                                <li>Demonstrated commitment to staying at the
                                forefront of technology by successfully implementing
                                the latest industry stacks into the curriculum,
                                keeping students abreast of cutting-edge
                                developments.
                                </li>
                                <li>Played a key role in formulating and
                                implementing innovative strategies to enhance
                                pedagogical processes, resulting in a notable
                                improvement in student completion rates and
                                retention.
                                </li>
                                <li>Identified and leveraged outstanding students as
                                Student Champions or Assisting Mentors, contributing
                                to an enhanced sense of community and peer support,
                                ultimately improving the overall student experience.
                                </li>
                            </ul>
                        </div>
                      </div>
                    <p>
                        <ul>
                            <li>Successfully delivered prompt and high-quality
                            mentoring support via one-on-one support calls,
                            resulting in measurable improvements in students'
                            coding skills and comprehension.
                            </li>
                            <li>Implemented a rigorous code review process,
                            resulting in consistently elevated code quality and
                            a quantifiable increase in student success rates.
                            </li>
                            <li>Conducted targeted one-on-one sessions, leading
                            to a significant reduction in the time students
                            spent grappling with challenging problems and a
                            measurable increase in overall student motivation.
                            </li>
                            <li>Demonstrated commitment to staying at the
                            forefront of technology by successfully implementing
                            the latest industry stacks into the curriculum,
                            keeping students abreast of cutting-edge
                            developments.
                            </li>
                            <li>Played a key role in formulating and
                            implementing innovative strategies to enhance
                            pedagogical processes, resulting in a notable
                            improvement in student completion rates and
                            retention.
                            </li>
                            <li>Identified and leveraged outstanding students as
                            Student Champions or Assisting Mentors, contributing
                            to an enhanced sense of community and peer support,
                            ultimately improving the overall student experience.
                            </li>
                        </ul>
                    </p>

                    <!-- Past roles -->
                    <h3>Past Experiences</h3>

                    <h4>Compliance Manager - Investment Fund Africa | Mauritian
                        Based</h4>
                    <h5>2019-2022</h5>
                    <p>I was appointed in the role of Compliance Manager at
                    start-up "IFA" in 2017. I managed and optimised all
                    compliance functions to remain compliant in line with the
                    company's growth strategy and budget.
                    </p>

                    <h4>Operating Officer - Nedebe Group | 
                        Project Consulting</h4>
                    <h5>2017-2019</h5>
                    <p>I was appointed to the role of Operation Officer at
                    Nedebe Group in 2017. I managed a large team and ensured
                    daily operations and key projects were developed and
                    implemented in a timely and cost-effective manner, reducing
                    excess spending. I managed multiple projects in the
                    agriculture and property development industries. I
                    negotiated and drafted contracts with various business
                    partners and clients.
                    </p>

                    <h4>HACCP Compliance Manager - Intshona FMCG | Supplier to
                        PNP</h4>
                    <h5>2013-2014</h5>
                    <p>As HACCP manager of Intshona FMCG, I carried out thorough
                    food hygiene and safety training. I developed and maintained
                    hygiene programs, including noise surveys and hazardous
                    material management plans. I managed compliance efforts,
                    reporting, and audits.
                    </p>

                    <h4>Junior Manager - Spur San Francisco | Restaurant
                        chain</h4>
                    <h5>2017-2019</h5>
                    <p>I ensured compliance with licensing, hygiene, health,
                    and safety legislation. I recorded stock levels and ordered
                    supplies.
                    </p>

                    <h4>Manager - Paarl Action Sports | Indoor sports arena</h4>
                    <h5>2010-2013</h5>
                    <p>I managed all day-to-day operations</p>

                    <h4>Audit Clerk - Privatactus Inc | Auditors Firm</h4>
                    <h5>2006-2010</h5>
                    <p>I compiled financial data and prepared reports for
                    accounting leadership review and use.
                    </p>
                
            </div>

            <!-- Right Column -->
            <div class="col-lg-4">
                <!-- Technology Categorization Section -->
                <h2>Technology Categorization</h2>
                <div>
                    <h3>Programming Languages</h3>
                    <button>Python</button>
                    <button>JavaScript</button>
                </div>
                <div>
                    <h3>Web Development Frameworks</h3>
                    <button>Django</button>
                    <button>React</button>
                </div>
                <div>
                    <h3>Markup and Style Languages</h3>
                    <button>HTML (HyperText Markup Language)</button>
                    <button>CSS (Cascading Style Sheets)</button>
                </div>
                <div>
                    <h3>Database Management Systems</h3>
                    <button>SQL (Structured Query Language)</button>
                    <button>MongoDB</button>
                    <button>PostgreSQL</button>
                </div>
                <div>
                    <h3>Software Containerization</h3>
                    <button>Docker</button>
                </div>
                <div>
                    <h3>Version Control System</h3>
                        <button>Git</button>
                </div>

                <!-- Soft Skills Section -->
                <h3>Soft Skills</h3>
                    <button>Teamwork</button>
                    <button>Communication</button>
                    <button>Creativity</button>
                    <button>Adaptability</button>
                    <button>Motivation</button>
                    <button>Collaboration</button>
                    <button>Flexibility</button>

                <!-- Accomplishments Section -->
                <h3>Accomplishments</h3>
                <ul>
                    <li>Refactoring Django tasks for Learning Department</li>
                    <li>Developed and implemented compliance procedures</li>
                    <li>Complete redesign of company websites for IFA and Nedebe
                        Group</li>
                </ul>

                <!-- Education Section -->
                <h3>Education</h3>
                <h4>Tertiary</h4>
                <h5>HyperionDev</h5>
                <ul>
                    <li>Software Engineer bootcamp - Completed</li>
                    <li>Web Development bootcamp - Completed</li>
                    <li>AWS - Next for upskilling</li>
                </ul>

                <h5>University of Michigan</h5>
                <ul>
                    <li>Python for Everybody Specialization - Completed</li>
                    <li>Django for Everybody Specialization - Completed</li>
                </ul>

                <h5>IBD - London</h5>
                <ul>
                    <li>General Certificate in Distilling - Completed</li>
                    <li>Foundations of Distilling - Completed</li>
                </ul>

                <h4>Secondary:</h4>
                <h5>Somerset West Private School </h5>
            </div>
        </div>
    </div>
</section>

<!-- Project Showcase -->
    <div class="container mt-4">
        <h1 class="mb-4">Project showcase</h1>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ project.title }}</h2>
                            <p class="card-text">{{ project.description }}</p>
                            
                            <!-- Code snippet (if applicable) -->
                            {% if project.code_snippet %}
                                <pre><code>{{ project.code_snippet }}</code></pre>
                            {% endif %}

                            <!-- GitHub link (if applicable) -->
                            {% if project.github_link %}
                                <a href="{{ project.github_link }}" class="d-block mb-2">GitHub Repository</a>
                            {% endif %}

                            <!-- Live Demo link (if applicable) -->
                            {% if project.live_demo_link %}
                                <a href="{{ project.live_demo_link }}" class="d-block">Live Demo</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if projects|length == 0 %}
                <p class="col-12">No projects available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
