/* css/style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #e4e3e3;
    color: #000000;
}

header {
    background: #bbbbbb;
    /* background image in static folder */
    background: url(../images/header_background.png) no-repeat center center/cover;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #e4e3e3;
    /* background image in static folder */
    background: url(../images/header_background.png) no-repeat center center/cover;
    color: #000000;
}

footer p {
    margin: 5px;
    color: #000;
}

/* media queries */
@media(max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}

pre code {
    display: block;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    overflow-x: auto;
}
